.greenbar-wrap {
    position: relative;
    background-color: #fff;
    border-radius: 7px;
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
}

.greenbar-value {
    height: 16px;
    background-color: #0d0;
    border-radius: 10px;
}

.greenbar-text {
    position: absolute;
    top: 0;
    left: 0;

    color: #000;
    text-align: center;
    width: 100%;
}

.surveySummaryTable
{
    margin: 15px;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #69c;
}
.surveySummaryTable th
{
    padding: 12px 17px 12px 17px;
    font-weight: normal;
    border-bottom: 1px dashed #69c;
}
.surveySummaryTable td
{
    padding: 7px 17px 7px 17px;
}
.surveySummaryTable tbody tr:hover td
{
    background: #d0dafd;
}

.voteTable {
    margin: 15px;
    border-collapse: collapse;
    text-align: left;
}
.voteTable th {
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}
.voteTable td {
    border-bottom: 1px solid #ccc;
    padding: 6px 8px;
}
.voteTable tbody tr:hover td {
    color: #009;
}
.voteTable tfoot td {
    font-style: italic;
    border-style: none;
}

table.surveyTable {
    padding: 0;
    margin: 0;
}

td.surveyCommentPane {
    vertical-align: middle;
    padding-left: 10px;
}

/*the iconBar is thought for 4* 16px icons, don't know of a more relative way*/
.surveyIconBar {
    background-color: #eeeeee;
    width: 80px;
}

.surveyIcon {
    padding: 1px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 1px;
    margin-right: 1px;
}

.surveyIcon:hover {
    cursor: pointer;
    background-color: lightgray;
    padding: 1px;
}

.surveyBox {
    background: #fAfAfA;
    float: left;
    margin-left: 10px;
    padding-left: 10px;
    width: 100%;
}