.surveyIcon.castvote {
    background: url('icons/original/blue-yes.png') 0 0;
}

.surveyIcon.castvote:hover {
    background: url('icons/original/green-yes.png') 0 0;
}

.surveyIcon.castunvote {
    background: url('icons/original/green-yes.png') 0 0;
}

.surveyIcon.castunvote:hover {
    background: url('icons/original/blue-yes.png') 0 0;
}



