.greenbar-wrap {
    position: relative;
    background-color: #fff;
    border-radius: 7px;
    padding: 2px;
    border: 1px solid #ddd;
}

.greenbar-value {
    height: 16px;
    background-color: #0d0;
    border-radius: 10px;
}

.greenbar-text {
    position: absolute;
    top: 0;
    left: 0;

    color: #000;
    text-align: center;
    width: 100%;
}

.surveySummaryTable {
    border: 1px solid #69c;
}

.surveySummaryTable th {
    padding: 12px 17px 12px 17px;
    font-weight: normal;
    border-bottom: 1px dashed #69c;
}

.surveySummaryTable td {
    padding: 7px 17px 7px 17px;
}

.surveySummaryTable tbody tr:hover td {
    /*background: #d0dafd;*/
}

.voteTable {
    margin: 15px;
    text-align: left;
    border-collapse: collapse;
}

.voteTable th {
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}

.voteTable td {
    border-bottom: 1px solid #ccc;
    padding: 6px 8px;
}

.voteTable td.voteColumn {
    text-align: center;
    alignment: center;
}

.voteTable td.resultColumn {
    text-align: center;
    alignment: center;
}

.voteTable.condensed th {
    text-align: center;
}

.voteTable td sub {
    font-size: x-small;
    color: gray;
}

.voteTable tbody tr:hover td {
    color: #009;
}

.voteTable tfoot td {
    font-style: normal;
    border-style: none;
    padding: 3px 8px 0px 8px;
    font-size: smaller;
}

table.surveyTable {
    padding: 0;
    margin: 0;
}

td.surveyCommentPane {
    vertical-align: middle;
    padding-left: 10px;
}

.commentEdit {
    font-size: 12px;
    font-family: monospace;
}

/*the iconBar is thought for 4* 16px icons, don't know of a more relative way*/
.surveyIconBar {
    background-color: #eeeeee;
    width: 80px;
    alignment: left;
}

.surveyIcon {
    padding: 0px;
    margin: 2px 1px;
    border: 0;
    vertical-align: middle;
    alignment: center;
    height: 16px;
    width: 16px;
}

.surveyIcon:hover {
    cursor: pointer;
    background-color: lightgray;
}

.surveyIcon.locked {
    cursor: auto;
    background-color: darkgrey;
}

.surveyBox {
    background: #fAfAfA;
    margin: 10px 10px;
    padding: 10px 5px 5px 10px;
    width: 90%;
}