#*
 * Copyright (c) 2006-2013, Confluence Community
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
 *
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 *#

<meta name="application-base-url" content="$applicationProperties.getBaseUrl()"/>
$webResourceManager.requireResource("com.nearinfinity.confluence.survey-plugin:resources")

<link type="text/css" rel="stylesheet" href="${workaroundRequireResourcePath}/survey-plugin.css" media="all"/>

#set ($userVote = $ballot.getVote($req.remoteUser))
#set ($xhtmlContent = $action.getContentBean())

#set ($voteAnchor = $generalUtil.urlEncode("survey-ballot-${ballot.titleNoSpace}"))

#if ($ballot.renderTitleLevel != 0)
<h$ballot.renderTitleLevel>#end #if ($ballot.locked) <img src="${workaroundRequireResourcePath}/icons/${iconSet}/locked.png" border="0" height="16" width="16"
                                                          title="$action.getText("surveyplugin.vote.locked")."/> #end <a
        name="${voteAnchor}">$generalUtil.htmlEncode($ballot.title)</a>#if ($ballot.renderTitleLevel != 0) </h$ballot.renderTitleLevel> #end
##set ($voteAnchor = "")

$generalUtil.htmlEncode($ballot.description)

#if ( $ballot.choices.size()==0 )
<div class="aui-message info" style="margin-left:10px">
  <p class="title">
    <span class="aui-icon icon-info"></span>
    <strong>$action.getText("surveyplugin.noinfo").</strong>
  </p>

  <p>$action.getText("surveyplugin.vote.info.add.choices").</p>
</div>
#else
##<img class="exportvote" src="${workaroundRequireResourcePath}/icons/${iconSet}/blue-yes.png" border="0" align="absmiddle" height="16" width="16" name="vote"
##     alt="$generalUtil.urlEncode(${ballot.title})" title="csv export of current vote" onmouseover="this.src='${workaroundRequireResourcePath}/icons/${iconSet}/green-yes.png';"
##     onmouseout="this.src='${workaroundRequireResourcePath}/icons/${iconSet}/blue-yes.png';"/>

  #set ($ballotNumberID = $generalUtil.htmlEncode("0-${ballot.titleNoSpace}") )

  #set ($columnCount = 2)
  #if ($canSeeResults)
    #set ($columnCount = $columnCount + 1)
  #end
  #if ($ballot.visibleVoters)
    #set ($columnCount = $columnCount + 1)
  #end
  #if ($ballot.visibleComments)
    #set ($columnCount = $columnCount + 1)
  #end
  #set ($choiceNumber=0)
<table class="voteTable">
  <thead>
  <tr>
    <th>$action.getText("surveyplugin.vote.choices")</th>
    <th>$action.getText("surveyplugin.vote.vote")</th>
    #if ($canSeeResults)
      <th>$action.getText("surveyplugin.vote.result"): <span class="smalltext">($ballot.totalVoteCount $action.getText("surveyplugin.survey.summary.header.total"))</span></th>
    #end
    #if ($ballot.visibleVoters)
      <th>$action.getText("surveyplugin.vote.voters")</th>
    #end
    #if ($ballot.visibleComments)
      <th>$action.getText("surveyplugin.vote.comments")</th>
    #end
  </tr>
  </thead>
  #foreach ($choice in $ballot.choices)
    <tr>
      <td>$choice.description</td>
      <td align="center">
        #if ($canVote && !($ballot.locked))
          #if ($choice.equals($userVote))
            <a href="${req.contextPath}$generalUtil.customGetPageUrl($content)&vote.choice=$generalUtil.urlEncode($choice.description)&ballot.title=$generalUtil.urlEncode($ballot.title)&vote.action=unvote#${voteAnchor}">
              <img src="${workaroundRequireResourcePath}/icons/${iconSet}/green-yes.png" border="0" align="absmiddle" height="16" width="16" name="vote"
                   class="surveyIcon"/>
            </a>
          #else
            <a href="${req.contextPath}$generalUtil.customGetPageUrl($content)&vote.choice=$generalUtil.urlEncode($choice.description)&ballot.title=$generalUtil.urlEncode($ballot.title)&vote.action=vote#${voteAnchor}">
              <img src="${workaroundRequireResourcePath}/icons/${iconSet}/blue-yes.png" border="0" align="absmiddle" height="16" width="16" name="vote"
                   class="surveyIcon"/>
            </a>
          #end
        #elseif ($choice.equals($userVote))
          <img src="${workaroundRequireResourcePath}/icons/${iconSet}/green-yes.png" border="0" align="absmiddle" height="16" width="16"/>
        #else
          <img src="${workaroundRequireResourcePath}/icons/${iconSet}/gray-yes.png" border="0" align="absmiddle" height="16" width="16"/>
        #end
      </td>

      #if ($canSeeResults)
        #set ($percentVotedFor = $ballot.getPercentageOfVoteForChoice($choice))
        <td>
          <div class="greenbar-wrap">
            <div class="greenbar-value" style="width:$percentVotedFor%;">
              <div class="greenbar-text">
                $choice.voteCount $action.getText("surveyplugin.survey.summary.votes"), $percentVotedFor%
              </div>
            </div>
          </div>
        </td>
      #end

      #if ($ballot.visibleVoters)
        <td>
          #if ($choice.getVoteCount())
            <i>
              #set($voters = $choice.getVoters())
              #set($iCounter = 0)
              #foreach($voter in $voters)
                #set($iCounter=$iCounter+1)
                #if ($visibleVotersWiki)
                  <a href="$req.contextPath/display/~$voter" class="url fn confluence-userlink" data-username="$voter">$voter</a>#if ($iCounter!=$voters.size()),#end
                #else
                  $voter#if ($iCounter!=$voters.size()),#end
                #end
              #end
            </i>
          #end
        </td>
      #end
      #if ($ballot.visibleComments && $choiceNumber==0)
        <td class="surveyCommentPane" rowspan="$ballot.choices.size()">
          #if ($canVote && $ballot.visibleComments && !($ballot.locked))
            #set ($currentComment = "")
            #if ($ballot.getCommentForUser($req.remoteUser))
              #set ($currentComment = $ballot.getCommentForUser($req.remoteUser).comment)
            #end
            <div class="focusedComment commentblock surveyComment">
                <span id="${ballotNumberID}CommentForm" style="display:none">
                  <form method="POST" action="$bootstrap.webAppContextPath/plugins/survey/doaddcomment.action?pageId=$content.id">
                    <input type="hidden" name="ballotTitle" value="$generalUtil.htmlEncode($ballot.title)"/>
                    <input type="hidden" name="ballotAnchor" value="${voteAnchor}"/>
                    <textarea name="comment" rows="5" cols="70" style="font:12px monospace;">$generalUtil.htmlEncode($currentComment)</textarea>
                    <br/>
                    <span style="align:right">
                      <input type="submit" value="$action.getText('surveyplugin.survey.save')"/>
                      <input type="button" value="$action.getText('surveyplugin.survey.cancel')"
                             onclick="document.getElementById('${ballotNumberID}CommentDisplay').style.display='inline';document.getElementById('${ballotNumberID}CommentForm').style.display='none';"/>
                    </span>
                  </form>
                </span>
              #if ($ballot.getCommentForUser($req.remoteUser))
                #set($rawWiki=$ballot.getCommentForUser($req.remoteUser).comment)
                <span id="${ballotNumberID}CommentDisplay">
                    <span id="${ballotNumberID}CommentValue">$rawWiki</span>
                    <br/>
                    <br/>
                    <a href="#"
                       onclick="document.getElementById('${ballotNumberID}CommentDisplay').style.display='none';document.getElementById('${ballotNumberID}CommentForm').style.display='inline';return false;">$action.getText("surveyplugin.survey.comment.edit")</a>
                    <a href="$bootstrap.webAppContextPath/plugins/survey/doaddcomment.action?pageId=$content.id&ballotTitle=$generalUtil.urlEncode($ballot.title)&ballotAnchor=$generalUtil.urlEncode("${voteAnchor}")&comment=">$action.getText("surveyplugin.survey.comment.remove")</a>
                  </span>
              #else
                <span id="${ballotNumberID}CommentDisplay">
                    <a href="#"
                       onclick="document.getElementById('${ballotNumberID}CommentDisplay').style.display='none';document.getElementById('${ballotNumberID}CommentForm').style.display='inline';return false;">$action.getText("surveyplugin.survey.comment.add")</a>
                  </span>
              #end
            </div>
          #end

          #if (($canSeeResults || ($canVote && $ballot.locked)) && $survey.visibleComments)
            #foreach ($comment in $ballot.comments)
              #if ( (!($req.remoteUser) && $canSeeResults) || ($comment.username != $req.remoteUser && $canSeeResults) || ($comment.username == $req.remoteUser && $ballot.locked))
                <div class="commentBox commentblock surveyComment">
                  #set( $voteText = $action.getText("surveyplugin.survey.vote.not") )
                  #if ($ballot.getVote($comment.username))
                    #set($voteText=$ballot.getVote($comment.username).description)
                  #end
                  #if ($canSeeVoters)
                    #set($voteText= $comment.username + $action.getText("surveyplugin.survey.comment.on")+" " + $voteText)
                  #end
                  <b>$voteText:</b> $comment.comment
                </div>
              #end
            #end
          #end
        </td>
      #end
    </tr>
    #set ($choiceNumber = $choiceNumber + 1)
  #end
  #if ($ballot.visibleVoters)
    <tfoot>
    <tr>
      <td colspan="$columnCount">
        $action.getText("surveyplugin.vote.voters.all"):
        #set($voters = $ballot.getAllVoters())
        #set($iCounter = 0)
        #foreach($voter in $voters)
          #set($iCounter=$iCounter+1)
          #if ($visibleVotersWiki)
            <a href="$req.contextPath/display/~$voter" class="url fn confluence-userlink" data-username="$voter">$voter</a>#if ($iCounter!=$voters.size()),#end
          #else
            $voter#if ($iCounter!=$voters.size()),#end
          #end
        #end
      </td>
    </tr>
    </tfoot>
  #end
</table>
#end