#*
 * Copyright (c) 2006-2014, Confluence Community
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
 *
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 *#

<meta name="application-base-url" content="$applicationProperties.getBaseUrl()"/>
$webResourceManager.requireResource("com.nearinfinity.confluence.survey-plugin:resources")

<link type="text/css" rel="stylesheet" href="${workaroundRequireResourcePath}/survey-plugin.css" media="all"/>

#set ($config = $ballot.config)
#set ($canVote = ($config.canTakeSurvey && (!($ballot.getHasVoted($currentUser)) || $config.changeableVotes)))
#set ($canSeeResults = $config.alwaysShowResults || ($config.canSeeResults && ( $ballot.getHasVoted($currentUser) || ($config.canTakeSurvey && $config.locked) || !($config.canTakeSurvey) )))

#set ($voteAnchor = $generalUtil.urlEncode("survey-ballot-${ballot.titleNoSpace}"))

#parse ("templates/macros/vote/votemacro-title.vm")

#if ( $ballot.choices.size()==0 )
<div class="aui-message info" style="margin-left:10px">
  <p class="title">
    <span class="aui-icon icon-info"></span>
    <strong>$action.getText("surveyplugin.noinfo").</strong>
  </p>

  <p>$action.getText("surveyplugin.vote.info.add.choices").</p>
</div>
#else
  #set ($ballotNumberID = "0-${ballot.titleNoSpace}" )

<!-- Column: Default choice + your vote -->
  #set ($columnCount = 2)
<!-- Column: result (green bar)-->
  #if ($canSeeResults)
    #set ($columnCount = $columnCount + 1)
  #end
<!-- Column: voters -->
  #if ($config.visibleVoters && $canSeeResults)
    #set ($columnCount = $columnCount + 1)
  #end
<!-- Column: comments -->
  #if ($config.showComments && ($config.canTakeSurvey || $canSeeResults) )
    #set ($columnCount = $columnCount + 1)
  #end
  #set ($choiceNumber=0)
<table class="voteTable">
  <thead>
  <tr>
    <th>$action.getText("surveyplugin.vote.choices")</th>
    <th>$action.getText("surveyplugin.vote.vote")</th>
    #if ($canSeeResults)
      <th>$action.getText("surveyplugin.vote.result"): <span class="smalltext">($ballot.totalVoteCount $action.getText("surveyplugin.survey.summary.header.total"))</span></th>
    #end
    #if ($config.visibleVoters && $canSeeResults)
      <th>$action.getText("surveyplugin.vote.voters")</th>
    #end
    #if ($config.showComments)
      <th>$action.getText("surveyplugin.vote.comments")</th>
    #end
  </tr>
  </thead>
  #foreach ($choice in $ballot.choices)
    <tr>
      #set($choiceDescriptionWithHtml = $choice.descriptionWithRenderedLinks)
      <td>$choiceDescriptionWithHtml</td>
      <td align="center">
        #if ($canVote && !($config.locked))
          #if ($choice.getHasVotedFor($currentUser))
            <img class="castunvote surveyIcon" src="${workaroundRequireResourcePath}/icons/${iconSet}/green-yes.png" border="0" align="absmiddle" height="16" width="16"
                 alt="$ballot.title" contentid="$macroResult.contentId" title="$choice.description"/>
          #else
            <img class="castvote surveyIcon" src="${workaroundRequireResourcePath}/icons/${iconSet}/blue-yes.png" border="0" align="absmiddle" height="16" width="16"
                 alt="$ballot.title" contentid="$macroResult.contentId" title="$choice.description"/>
          #end
        #elseif ($choice.getHasVotedFor($currentUser))
          <img src="${workaroundRequireResourcePath}/icons/${iconSet}/green-yes.png" border="0" align="absmiddle" height="16" width="16"/>
        #else
          <img src="${workaroundRequireResourcePath}/icons/${iconSet}/gray-yes.png" border="0" align="absmiddle" height="16" width="16"/>
        #end
      </td>
      <!-- Column: result (green bar)-->
      #if ($canSeeResults)
        #set ($percentVotedFor = $ballot.getPercentageOfVoteForChoice($choice))
        <td>
          <div class="greenbar-wrap">
            <div class="greenbar-value" style="width:$percentVotedFor%;">
              <div class="greenbar-text">
                $choice.voters.size() $action.getText("surveyplugin.survey.summary.votes"), $percentVotedFor%
              </div>
            </div>
          </div>
        </td>
      #end

      <!-- Column: voters -->
      #if ($config.visibleVoters && $canSeeResults)
        <td>
          #set($voters = $choice.voters)
          #if ($voters.size()>0)
            <i>
              #set($iCounter = 0)
              #foreach($voter in $voters)
                #set($iCounter=$iCounter+1)
                $config.userRenderer.render($req.contextPath, $voter)#if($iCounter != $voters.size()),#end
              #end
            </i>
            <a href="mailto:$choice.getEmailStringOfAllVoters()?subject=You voted for: $ballot.title"><img src="${workaroundRequireResourcePath}/icons/${iconSet}/mail.png" border="0"
                                                                                                           align="absmiddle" height="16" width="16"
                                                                                                           class="surveyIcon" title="$action.getText("surveyplugin.vote.voters.email")"/></a>
          #end
        </td>
      #end

      #if ($config.showComments && ($config.canTakeSurvey || $canSeeResults) && $choiceNumber==0)
        <td class="surveyCommentPane" rowspan="$ballot.choices.size()">
          #if (!($config.locked) && ${currentUser.class.simpleName} != "AnonymousUser")
            #set ($currentComment = "")
            #if ($ballot.getCommentForUser($currentUser))
              #set ($currentComment = $ballot.getCommentForUser($currentUser).comment)
            #end
            <div class="focusedComment commentblock surveyComment">
                <span id="${ballotNumberID}CommentForm" style="display:none">
                  <form method="POST" action="$bootstrap.webAppContextPath/plugins/survey/doaddcomment.action?pageId=$macroResult.contentId">
                    <input type="hidden" name="ballotTitle" value="$ballot.title"/>
                    <input type="hidden" name="ballotAnchor" value="${voteAnchor}"/>
                    <textarea name="comment" rows="5" cols="70" style="font:12px monospace;">$currentComment</textarea>
                    <br/>
                    <span style="align:right">
                      <input type="submit" value="$action.getText('surveyplugin.survey.save')"/>
                      <input type="button" value="$action.getText('surveyplugin.survey.cancel')"
                             onclick="document.getElementById('${ballotNumberID}CommentDisplay').style.display='inline';document.getElementById('${ballotNumberID}CommentForm').style.display='none';"/>
                    </span>
                  </form>
                </span>
              #if ($ballot.getCommentForUser($currentUser))
                #set($rawWiki=$ballot.getCommentForUser($currentUser).comment)
                <span id="${ballotNumberID}CommentDisplay">
                    <span id="${ballotNumberID}CommentValue">$rawWiki</span>
                  <div class="surveyIconBar">
                    <a href="#"
                       onclick="document.getElementById('${ballotNumberID}CommentDisplay').style.display='none';document.getElementById('${ballotNumberID}CommentForm').style.display='inline';return false;">
                      <img src="${workaroundRequireResourcePath}/icons/${iconSet}/comment_edit.png" border="0" align="absmiddle" height="16" width="16"
                           class="surveyIcon" title="$action.getText("surveyplugin.survey.comment.edit")"/></a>
                    <a href="$bootstrap.webAppContextPath/plugins/survey/doaddcomment.action?pageId=$macroResult.contentId&ballotTitle=$generalUtil.urlEncode($ballot.title)&ballotAnchor=$generalUtil.urlEncode(
                      "${voteAnchor}")&comment=">
                      <img src="${workaroundRequireResourcePath}/icons/${iconSet}/comment_remove.png" border="0" align="absmiddle" height="16" width="16"
                           class="surveyIcon" title="$action.getText("surveyplugin.survey.comment.remove")"/></a>
                  </div>
                  </span>
              #else
                <span id="${ballotNumberID}CommentDisplay">
                  <div class="surveyIconBar">
                    <a href="#"
                       onclick="document.getElementById('${ballotNumberID}CommentDisplay').style.display='none';document.getElementById('${ballotNumberID}CommentForm').style.display='inline';return false;">
                      <img src="${workaroundRequireResourcePath}/icons/${iconSet}/comment_add.png" border="0" align="absmiddle" height="16" width="16"
                           class="surveyIcon" title="$action.getText("surveyplugin.survey.comment.add")"/></a>
                  </div>
                </span>
              #end
            </div>
          #end

          #if (($canSeeResults || ($canVote && $config.locked)) && $config.showComments)
            #foreach ($comment in $ballot.comments)
              #if ( (!($currentUser) && $canSeeResults) || ($comment.user != $currentUser && $canSeeResults) || ($comment.user == $currentUser && $config.locked))
                <div class="commentBox commentblock surveyComment">
                  #set( $voteText = $action.getText("surveyplugin.survey.vote.not") )
                  #if ($ballot.getChoiceForUser($comment.user))
                    #set($voteText=$ballot.getChoiceForUser($comment.user).description)
                  #end
                  #if ($canSeeResults && $config.visibleVoters)
                    #set($voteText= $comment.user.name + $action.getText("surveyplugin.survey.comment.on")+" " + $voteText)
                  #end
                  <b>$voteText:</b> $comment.comment
                </div>
              #end
            #end
          #end
        </td>
      #end
    </tr>
    #set ($choiceNumber = $choiceNumber + 1)
  #end
  <tfoot>
    #if ($config.visibleVoters && $canSeeResults)
    <tr>
      <td colspan="$columnCount">
        #set($voters = $ballot.getAllVoters())
        $action.getText("surveyplugin.vote.voters.all")
        #if ($voters.size()>0)<a href="mailto:$ballot.getEmailStringOfAllVoters()?subject=You voted for: $ballot.title"><img src="${workaroundRequireResourcePath}/icons/${iconSet}/mail.png" border="0"
                                                                                                                             align="absmiddle"
                                                                                                                             height="16" width="16"
                                                                                                                             class="surveyIcon"
                                                                                                                             title="$action.getText("surveyplugin.vote.voters.email")"/></a>#end:
        #set($iCounter = 0)
        #foreach($voter in $voters)
          #set($iCounter=$iCounter+1)
          $config.userRenderer.render($req.contextPath, $voter)#if($iCounter != $voters.size()),#end
        #end
      </td>
    </tr>
    #end
    #if ($config.visiblePendingVoters && $canSeeResults)
    <tr>
      <td colspan="$columnCount">
        #set($pendingVoters = $ballot.getAllPendingVoters())
        $action.getText("surveyplugin.vote.voters.pending")
        #if ($pendingVoters.size()>0)<a href="mailto:$ballot.getEmailStringOfPendingVoters()?subject=Please vote on: $ballot.title"><img
                src="${workaroundRequireResourcePath}/icons/${iconSet}/mail.png" border="0"
                align="absmiddle" height="16" width="16"
                class="surveyIcon" title="$action.getText("surveyplugin.vote.voters.pending.email")"/></a>#end:
        #set($iCounter = 0)
        #foreach($pending in $pendingVoters)
          #set($iCounter = $iCounter + 1)
          $config.userRenderer.render($req.contextPath, $pending)#if($iCounter != $pendingVoters.size()),#end
        #end
      </td>
    </tr>
    #end
  </tfoot>
</table>
#end