#*
 * Copyright (c) 2006-2013, Confluence Community
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
 *
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 *#

## If the user can see results, only show them if they are not a voter or have completed the entire survey
##1.1.4 if summary can be shown, it is still hidden for a User not finished voting.
##1.1.5 show summary if it is locked (closed)
#if ($survey.isSummaryDisplay() && $canSeeSurveyResults)
##1.1.8.1 remove deprecated renderer here also, CSRVY-31
###set ($renderer=$action.getGlobalHelper().getWikiStyleRenderer())
  
  <h3><a name="$surveyTitleSummary">$action.getText("surveyplugin.survey.summary")</a></h3>
  #if ($survey.isSurveyComplete($req.remoteUser) || !($canTakeSurvey) || $locked )

  <table class="grid">
    <tr>
    	##1.1.6 try some i18n values
        ##<th>Question</th>
        ##<th>Total Votes</th>
        ##<th>Average Score</th>
        ##<th>Average Score</th>
        <th>$action.getText("surveyplugin.survey.summary.header.question")</th>
        <th>$action.getText("surveyplugin.survey.summary.header.total")</th>
        <th>$action.getText("surveyplugin.survey.summary.header.average.digit")</th>
        <th>$action.getText("surveyplugin.survey.summary.header.average.bar")</th>
        #if ($canSeeSurveyVoters) <th>$action.getText("surveyplugin.vote.voters")</th> #end ##1.1.7.5
    </tr>
  #foreach ($ballot in $survey.ballots)
    #set ($average = $survey.computeAverage($ballot)) 
    #set ($sAverage = $survey.computeFormatedAverage($ballot, "0.00")) ##1.1.8.5 format rendering digits fixed to two
      <tr>
        <td>
          $generalUtil.htmlEncode($ballot.title)
        </td>
        <td align="center">
          $ballot.totalVoteCount
        </td>
        <td align="center">
          $sAverage $ballot.getBoundsIfNotDefault()
        </td>
        <td>
          <table class="surveySummaryGraphPane">
              <tr>
                  ##set ($percentFill = $macro.getPercentFillForFloatScore($average, $macro.getArrayLength($ballot.choices)))
                  #set ($percentFill = $ballot.getAveragePercentage($average))
                  #set ($percentEmpty = 100 - $percentFill)
                  #if ($percentFill > 0)
                     <td height="8" width="$percentFill%" class="greenbar"><br /></td>
                  #end
                  #if ($percentEmpty > 0)
                     <td height="8" width="$percentEmpty%" class="greenbar" style="BACKGROUND: #d0d0d0;"><br /></td>
                  #end
              </tr>
          </table>
        </td>
        #if ($canSeeSurveyVoters) 
          <td>
          #if ($visibleVotersWiki)
          	##$v2SubRenderer.render($ballot.getAllVotersString(true), $context)
            $generalUtil.htmlEncode($ballot.getAllVotersString(true))
          	###$renderer.convertWikiToXHtml($content.toPageContext(),$ballot.getAllVotersString(true)) 
          #else 
          	$ballot.getAllVotersString(false)
          #end
          </td>
        #end
      </tr>
  #end
  </table>
  #else
    <div class="alertbox" style="background: #FF6A00; float: left">
        ##You must vote on all Survey-Items to see the Summary.
        $action.getText("surveyplugin.survey.summary.viewable.mustvoteall").
    </div>
    <br/>
  #end
#end